header {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $color-primary;
    color: $color-secondary;
    width: 100%;
    font-family: $font-family;
    margin-bottom: 3%;

    .img {
        display: block;
        height: 120px;

        @include media-sm {
            width: 70%;
            height: 60%;
        }
        
        @include media-xs {
            width: 80%;
            height: 60%;
        }

        @include media-xxs {
            width: 80%;
            padding-left:10%;
        }
    }

    @include media-sm {
        height: 15rem;
    }

    @include media-xs {
        height: 10rem;
    }
}
