*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

body {
    margin-bottom: 100px;

    @include media-sm {
      margin-bottom: 150px;
  }
}

.fas {
  font-size: 3rem;
}

@media all and (max-width : 950px){
  
}
@media all and (max-width: 768px) {

}

@media all and (max-width : 400px) {
  .img {
    height: 80px;
  }
}