h1 {
    font-family: arial, tahoma, comic;
    font-weight: bold; 
    text-align: center;
    padding-top: 5%;
    padding-bottom: 1%;
}


h3 {
    font-size: 1.7rem;
    margin: 40px 0;
}

a {
    text-decoration: none;
  }

body {
    font-family: 'Roboto', sans-serif;
}