
.btn {
    background-color:$color-primary;
    text-align: center;
    color: $color-secondary;
    width: 20%;
    margin: 0 auto 30px auto;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: $font-family;
    font-size: 2rem;
}

section {
    text-align: center;
    padding-top: 5%;
}
