
.btn {
    background-color:$color-primary;
    text-align: center;
    color: $color-secondary;
    margin: 0 auto;
    width: 300px;
    padding: 15px 30px;
    border-radius: 10px;
    font-family: $font-family;
    font-size: 2rem;

    @include media-sm {
        width: 400px;
        font-size: 3rem;
    }
    @include media-xs {
        width: 300px;
        font-size: 2rem;
    }
   
}

$delay: 0ms, 200ms, 400ms;
@for $i from 1 through 3 {
    .dot:nth-child(#{$i}) {
        animation: blink 2s infinite nth($delay, $i); 
    }
} 

section {
    text-align: center;
    padding-top: 5%;
}
