.menu2 {
    background-color: #FFF5FE;
    text-align: center;

    p {
        font-family: 'Noto Serif', serif;
        font-size: 1.4rem;
        font-weight: bold;
        color: #C77412;
        @include media-sm {
            font-size: 3rem;
        }
        @include media-xs {
            font-size: 2rem;
        }
    }

    h2 {
        font-family: 'Croissant One', cursive;
        font-size: 1.3rem;
        background: linear-gradient(to right, #C77412 0%, #905BFD 100%);
	    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include media-sm {
            font-size: 3rem;
        }
        @include media-xs {
            font-size: 2rem;
        }
    }
}

.card-chic {
    background-color: #FFF5FE;
    margin-left: 10%;
    margin-bottom: 15%;
    width: 80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 0;

    h2 {
        font-family: 'Croissant One', cursive;
        font-size: 3rem;
        text-align: center;
        background: linear-gradient(to right, #C77412 0%, #905BFD 100%);
	    -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        @include media-sm {
            font-size: 2rem;
        }
        @include media-xs {
            font-size: 2.2rem;
        }
    }

    h3, p {
        font-family: 'Noto Serif', serif;

        @include media-xs {
            font-size: 1rem;
        }
    }
}

.text-color-orange {
    color:  #C77412;
}

.text-color-purple {
    color: #A56799;
}

.text-color-blue {
    color: #6E4CCC;
}